@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style0 {
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 382px;
height: 678px;
flex-direction: column;}
.style12 {
color: #67e1ff;
font-family: 'arial',serif;
font-size: 1.4375em;
margin-top: 108px;
height: 17px;
align-self: center;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 57px;
border-top-right-radius: 57px;
border-bottom-left-radius: 57px;
border-bottom-right-radius: 57px;
display: flex;
margin-left: 131px;
margin-top: 29px;
width: 110px;
height: 110px;
align-items: center;
flex-direction: column;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upyk90ljmt6z2o1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 21px;
width: 84px;
height: 62px;}
.style7 {
background-color: #ffffff;
border-top-left-radius: 23px;
border-top-right-radius: 23px;
border-bottom-left-radius: 23px;
border-bottom-right-radius: 23px;
display: flex;
margin-left: 43px;
margin-top: 66px;
width: 287px;
height: 42px;
flex-direction: column;
justify-content: center;}
.artworkloginpagecontainer0container3row0 {
display: flex;
margin-left: 23px;
width: 172px;
height: 17px;
align-items: center;}
.style9 {
background-image: url('https://designresources.assets.yotako.io/e7upyk90ljmt6z2fk.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 17px;
height: 100%;}
.style8 {
color: #554669;
font-family: 'arial',serif;
font-size: 0.6875em;
margin-left: 10px;
height: 9px;}
.style4 {
background-color: #ffffff;
border-top-left-radius: 23px;
border-top-right-radius: 23px;
border-bottom-left-radius: 23px;
border-bottom-right-radius: 23px;
display: flex;
margin-left: 43px;
margin-top: 12px;
width: 287px;
height: 42px;
flex-direction: column;
justify-content: center;}
.artworkloginpagecontainer0container1row0 {
display: flex;
margin-left: 23px;
width: 81px;
height: 20px;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/e7upyk90ljmt6z273.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 16px;
height: 100%;
align-self: stretch;}
.style5 {
color: #554669;
font-family: 'arial',serif;
font-size: 0.6875em;
margin-left: 12px;
margin-top: 9px;
height: 9px;}
.style2 {
background-color: #4bc2ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-left: 43px;
margin-top: 42px;
width: 287px;
height: 56px;
flex-direction: column;
justify-content: center;}
.style3 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 120px;
height: 12px;}
.style1 {
color: rgba(255,255,255,0.6000000238418579);
font-family: 'arial',serif;
font-size: 0.5625em;
margin-top: 36px;
height: 7px;
align-self: center;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style0 {
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 782px;
height: 1389px;
flex-direction: column;}
.style12 {
color: #67e1ff;
font-family: 'arial',serif;
font-size: 2.944em;
margin-top: 221px;
height: 35px;
align-self: center;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 57px;
border-top-right-radius: 57px;
border-bottom-left-radius: 57px;
border-bottom-right-radius: 57px;
display: flex;
margin-left: 268px;
margin-top: 59px;
width: 225px;
height: 225px;
align-items: center;
flex-direction: column;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upyk90ljmt6z2o1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 43px;
width: 172px;
height: 127px;}
.style7 {
background-color: #ffffff;
border-top-left-radius: 23px;
border-top-right-radius: 23px;
border-bottom-left-radius: 23px;
border-bottom-right-radius: 23px;
display: flex;
margin-left: 88px;
margin-top: 135px;
width: 588px;
height: 86px;
flex-direction: column;
justify-content: center;}
.artworkloginpagecontainer0container3row0 {
display: flex;
margin-left: 47px;
width: 352px;
height: 35px;
align-items: center;}
.style9 {
background-image: url('https://designresources.assets.yotako.io/e7upyk90ljmt6z2fk.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 35px;
height: 100%;}
.style8 {
color: #554669;
font-family: 'arial',serif;
font-size: 1.408em;
margin-left: 20px;
height: 18px;}
.style4 {
background-color: #ffffff;
border-top-left-radius: 23px;
border-top-right-radius: 23px;
border-bottom-left-radius: 23px;
border-bottom-right-radius: 23px;
display: flex;
margin-left: 88px;
margin-top: 25px;
width: 588px;
height: 86px;
flex-direction: column;
justify-content: center;}
.artworkloginpagecontainer0container1row0 {
display: flex;
margin-left: 47px;
width: 166px;
height: 41px;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/e7upyk90ljmt6z273.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 33px;
height: 100%;
align-self: stretch;}
.style5 {
color: #554669;
font-family: 'arial',serif;
font-size: 1.408em;
margin-left: 25px;
margin-top: 18px;
height: 18px;}
.style2 {
background-color: #4bc2ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-left: 88px;
margin-top: 86px;
width: 588px;
height: 115px;
flex-direction: column;
justify-content: center;}
.style3 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 246px;
height: 25px;}
.style1 {
color: rgba(255,255,255,0.6000000238418579);
font-family: 'arial',serif;
font-size: 1.1520000000000001em;
margin-top: 74px;
height: 14px;
align-self: center;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style0 {
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 937px;
height: 1663px;
flex-direction: column;}
.style12 {
color: #67e1ff;
font-family: 'arial',serif;
font-size: 3.5266666666666664em;
margin-top: 265px;
height: 42px;
align-self: center;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 57px;
border-top-right-radius: 57px;
border-bottom-left-radius: 57px;
border-bottom-right-radius: 57px;
display: flex;
margin-left: 321px;
margin-top: 71px;
width: 270px;
height: 270px;
align-items: center;
flex-direction: column;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upyk90ljmt6z2o1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 52px;
width: 206px;
height: 152px;}
.style7 {
background-color: #ffffff;
border-top-left-radius: 23px;
border-top-right-radius: 23px;
border-bottom-left-radius: 23px;
border-bottom-right-radius: 23px;
display: flex;
margin-left: 105px;
margin-top: 162px;
width: 704px;
height: 103px;
flex-direction: column;
justify-content: center;}
.artworkloginpagecontainer0container3row0 {
display: flex;
margin-left: 56px;
width: 422px;
height: 42px;
align-items: center;}
.style9 {
background-image: url('https://designresources.assets.yotako.io/e7upyk90ljmt6z2fk.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 42px;
height: 100%;}
.style8 {
color: #554669;
font-family: 'arial',serif;
font-size: 1.6866666666666665em;
margin-left: 25px;
height: 22px;}
.style4 {
background-color: #ffffff;
border-top-left-radius: 23px;
border-top-right-radius: 23px;
border-bottom-left-radius: 23px;
border-bottom-right-radius: 23px;
display: flex;
margin-left: 105px;
margin-top: 29px;
width: 704px;
height: 103px;
flex-direction: column;
justify-content: center;}
.artworkloginpagecontainer0container1row0 {
display: flex;
margin-left: 56px;
width: 199px;
height: 49px;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/e7upyk90ljmt6z273.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 39px;
height: 100%;
align-self: stretch;}
.style5 {
color: #554669;
font-family: 'arial',serif;
font-size: 1.6866666666666665em;
margin-left: 29px;
margin-top: 22px;
height: 22px;}
.style2 {
background-color: #4bc2ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-left: 105px;
margin-top: 103px;
width: 704px;
height: 137px;
flex-direction: column;
justify-content: center;}
.style3 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 294px;
height: 29px;}
.style1 {
color: rgba(255,255,255,0.6000000238418579);
font-family: 'arial',serif;
font-size: 1.38em;
margin-top: 88px;
height: 17px;
align-self: center;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style0 {
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1222px;
height: 2170px;
flex-direction: column;}
.style12 {
color: #67e1ff;
font-family: 'arial',serif;
font-size: 4.6000000000000005em;
margin-top: 346px;
height: 54px;
align-self: center;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 57px;
border-top-right-radius: 57px;
border-bottom-left-radius: 57px;
border-bottom-right-radius: 57px;
display: flex;
margin-left: 419px;
margin-top: 93px;
width: 352px;
height: 352px;
align-items: center;
flex-direction: column;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upyk90ljmt6z2o1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 67px;
width: 269px;
height: 198px;}
.style7 {
background-color: #ffffff;
border-top-left-radius: 23px;
border-top-right-radius: 23px;
border-bottom-left-radius: 23px;
border-bottom-right-radius: 23px;
display: flex;
margin-left: 138px;
margin-top: 211px;
width: 918px;
height: 134px;
flex-direction: column;
justify-content: center;}
.artworkloginpagecontainer0container3row0 {
display: flex;
margin-left: 74px;
width: 550px;
height: 54px;
align-items: center;}
.style9 {
background-image: url('https://designresources.assets.yotako.io/e7upyk90ljmt6z2fk.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 54px;
height: 100%;}
.style8 {
color: #554669;
font-family: 'arial',serif;
font-size: 2.2em;
margin-left: 32px;
height: 29px;}
.style4 {
background-color: #ffffff;
border-top-left-radius: 23px;
border-top-right-radius: 23px;
border-bottom-left-radius: 23px;
border-bottom-right-radius: 23px;
display: flex;
margin-left: 138px;
margin-top: 38px;
width: 918px;
height: 134px;
flex-direction: column;
justify-content: center;}
.artworkloginpagecontainer0container1row0 {
display: flex;
margin-left: 74px;
width: 259px;
height: 64px;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/e7upyk90ljmt6z273.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 51px;
height: 100%;
align-self: stretch;}
.style5 {
color: #554669;
font-family: 'arial',serif;
font-size: 2.2em;
margin-left: 38px;
margin-top: 29px;
height: 29px;}
.style2 {
background-color: #4bc2ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-left: 138px;
margin-top: 134px;
width: 918px;
height: 179px;
flex-direction: column;
justify-content: center;}
.style3 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 384px;
height: 38px;}
.style1 {
color: rgba(255,255,255,0.6000000238418579);
font-family: 'arial',serif;
font-size: 1.8em;
margin-top: 115px;
height: 22px;
align-self: center;}
}